<h2>Por Encuestado</h2>
<% @encuesta.encuestados.each do |encuestado| %>
  <div>
  	<% unless encuestado.login.nil? %>
  		<%= link_to encuestado.login, respuesta_encuesta_url(encuestado.id, @encuesta.id) %>
    <% else %>
    	<%= link_to encuestado.created_at.to_date, respuesta_encuesta_url(encuestado.id, @encuesta.id) %>
  	<% end %>
  </div>
<% end %>
<h2>Por Respuestas</h2>
<% Respuesta.select("reply_number,encuesta_id").group("reply_number,encuesta_id").having("encuesta_id = ?", @encuesta.id).each_with_index do |respuesta, i| %>
<div>
	
  <% obj_res = Respuesta.find_by_reply_number_and_encuesta_id(respuesta.reply_number, respuesta.encuesta_id)%>
  <%= link_to obj_res.created_at.to_date, detalles_respuesta_url(@encuesta.id, respuesta.reply_number) %>
</div>
<% end %>